body {
    background: #e8c07d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
    margin: auto;
}

#title,
.subtitle,
.post_title {
    color: #614124;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    /* text-decoration: line-through; */
    color: #614124;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: #9fc088;
    padding: 15px;
    border: 3px solid #cc704b;
    border-radius: 15px;

    margin: 0px;
    margin-bottom: 15px;

    text-transform: capitalize;
}

.photo {
    border: 3px solid #cc704b;
    border-radius: 50%;
}

.contacts_list {
    list-style-type: "🦛";
    padding-left: 15px;
    list-style-image: ;
}

.contacts_list li a {
    color: #cc704b;
}

.image_post {
    width: 100%;
}
